{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
	
	<div class="row divider green">
		<div class="col-md-12"></div>
	</div>
	<div class="row banner game {{genre.name}}">
		<div class="col-md-11 col-md-offset-1 padding-none">
			<h1>{{ genre.name }}
			<!--<figure class="creator">
				<img src="{{ creator.picture}}">
				<figcaption>added by: {{ creator.name }}</figcaption>
			</figure>-->
			</h1>

		</div>
	</div>
	<div class="row padding-top padding-bottom">
		<div class="col-md-1"></div>
		<div class="col-md-11 padding-none">
			
		</div>
		<div class="col-md-7"></div>
	</div>
	<div class="row">
		<div class="col-md-12">
			{% with messages = get_flashed_messages(with_categories=true) %}
				{% if messages %}
					<ul>
						{% for catagory, message in messages %}
							 <li class="{{catagory}}"> <strong> {{ message }} </strong> </li>
						{% endfor %}
					</ul>
				{% endif %}
			{% endwith %}
		</div>
	</div>
	{% if items !=[] %}	
		<div class="row">
			<!--<div class="col-md-1"></div>-->
			<div class="col-md-4">
				<h2>PC</h2>
					{% for i in items %}
						{% if i.platform == 'PC' %}
							<div class="game-item">
								<h3>{{i.name}} ({{i.user.name}})</h3>
								<p>{{i.description}}</p>
								<p class="game-release_year">{{i.release_year}}</p>
								
							</div>
						{% endif %}
					{% endfor %}
			</div>
			<div class="col-md-4">			
				<h2>Game Console</h2>
					{% for i in items %}
						{% if i.platform == 'Game Console' %}
						<div class="game-item">
							<h3>{{i.name}} ({{i.user.name}})</h3>
							<p>{{i.description}}</p>
							<p class="game-release_year">{{i.release_year}}</p>
							
						</div>
						{% endif %}
					{% endfor %}
			</div>
			<div class="col-md-4">
				<h2>Mobile</h2>
					{% for i in items %}
						{% if i.platform == 'Mobile' %}
						<div class="game-item">
							<h3>{{i.name}} ({{i.user.name}})</h3>
							<p>{{i.description}}</p>
							<p class="game-release_year">{{i.release_year}}</p>
							
						</div>
						{% endif %}
					{% endfor %}
			</div>
			<!--<div class="col-md-1"></div>-->
		</div>
	{% endif %}
{% endblock %}
