{% extends "main.html" %} {% block content %} {% include "header.html" %}
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <h2> {{item.name}} Detail </h2>
    </div>
    <div class="col-md-3"></div>
</div>
<hr />
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <h3> Game Genre: <strong>{{genre.name}}</strong></h3>
        <h3> Year Released: <strong>{{item.release_year}}</strong></h3>
        <p>{{item.description}}</p>
        <hr />
        <h5> Added by: {{creator.name}}</h5>
    </div>
    <div class="col-md-3"></div>
</div>
<hr />
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <a href='{{url_for("showGame", genre_id = item.genre_id)}}'>
	        <button class="btn btn-default delete" type="button">
	        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Back</button>
        </a>
    </div>
    <div class="col-md-3"></div>
</div>
{% endblock %}